body{blockground-color:rgb(128, 16, 34) }
h1{text-align: center;}
h2{color:rgb(200, 173, 226)}
imagem1{width: 40%;}
 p{background-color: aquamarine; text-align: justify; color: rgb(29, 148, 148); font-size: ; } 

