body{blockground-color:rgb(102, 3, 19) }
h1{text-align: center;}
h2{color:rgb(91, 71, 109)}
imagem1{width: 40%;}
 p{background-color: rgb(0, 3, 2); text-align: justify; color: rgb(9, 92, 92); font-size: ; } 

